{% extends 'base.html.twig' %}
{% block meta_description %}
	Maçonnerie ProBuild votre spécialiste en création de murs, cheminées et aménagements extérieurs. Contactez-nous pour des projets uniques et durables.
{% endblock %}
{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<section
		class="">
		{# banniere #}
		<div class=" min-h-[711px] bg-beige_chaud_clair md:min-h-[423px] relative w-full"></div>
		<article class="max-w-screen-2xl m-auto">
			<img class="relative shadow-2xl rounded-2xl mt-[-593px] min-h-[50%] max-w-[643px] w-[calc(100%-10%)] ml-[5%] object-center object-cover md:mt-[-306px] md:ml-[calc(((100%-80%)/2))] lg:w-[60%] lg:max-w-[958px] lg:ml-[calc(((100%-90%)/2))]" src="{{ asset('assets/images/static/hero-banner.webp') }}" alt="Image d'un maçon qui monte un mur">
			<div class="relative shadow-2xl bg-gris_ardoise max-w-[643px] rounded-2xl mt-5 w-[calc(100%-10%)] ml-[5%] md:w-[625px] md:mt-[-60px] md:mr-[calc(((100%-70%)/2))]  md:ml-auto lg:w-[60%] lg:mt-[-280px] lg:max-w-[958px] lg:mr-[calc(((100%-90%)/2))]">
				<div class="p-4 ">
					<h1>Bienvenue chez Maçonnerie ProBuild</h1>
					<p class="my-4">Notre Art, Votre Espoir, Réalisé en Pierre
						<br>
						<br>
						Chez Maçonnerie ProBuild, nous croyons en la puissance de la maçonnerie pour transformer vos rêves en réalité. Chaque brique, chaque pierre que nous posons est imprégnée de notre engagement envers l'excellence et la durabilité. Nous façonnons votre espoir en une réalité solide qui durera des générations.
						<br>
						<br>
					</p>
					<a type="button" class="rounded border bg-beige_chaud p-4 uppercase hover:bg-beige_chaud_clair" href="{{ path('app_contact') }}" title="Contacter notre entreprise">Nous contacter</a>
				</div>
			</div>
		</article>
		{# fin banniere #}

		{# service #}
		<article class="text-center bg-beige_chaud_clair py-8 mt-8">
			<div class="max-w-screen-2xl m-auto">
				<h2 class="my-12">Nos Services</h2>
				<div class="w-full flex gap-8 flex-col md:flex-row md:justify-center">
					<img class=" md:w-[calc((100%/3)-(32px*2))] object-cover object-center " src="{{ asset('assets/images/static/service-1.webp') }}" alt="image d'un maçon qui attache du ferraillage" loading="lazy">
					<ul class="flex flex-col gap-8 flex-[1 1 300px] md:w-[calc((100%/3)-(32px*2))]">
						<li>
							- Construction de murs en briques et en pierres
						</li>
						<li>
							- Rénovation de cheminées
						</li>
						<li>
							- Aménagement paysager en maçonnerie
						</li>
						<li>
							- Création de patios et de terrasses
						</li>
					</ul>
					<img class="md:w-[calc((100%/3)-(32px*2))]  object-cover object-center" src="{{ asset('assets/images/static/service-2.webp') }}" alt="image d'un maçon qui monte un mur de brique" loading="lazy">
				</div>
				<a type="button" class="mt-8 rounded border bg-beige_chaud p-4 uppercase hover:bg-gris_ardoise " href="{{ path('app_services')}}" title="En savoir plus sur nos services">Explorer nos services</a>
			</div>
		</article>
		{# fin service #}

		{# Réalisation #}
		<article class="py-8 text-center">
			<div class="max-w-screen-2xl m-auto">
				<h2 class="mb-8">Nos réalisations parlent d'elles-mêmes</h2>
				<p class="m-auto w-[75%] mb-8">Découvrez des exemples de notre travail expert en maçonnerie. Chaque projet est une pièce maîtresse de notre engagement envers l'excellence et la qualité.</p>
				<div
					id="default-carousel" class="relative w-full" data-carousel="slide">
					<!-- Carousel wrapper -->
					<div
						class="relative h-80 overflow-hidden rounded-lg md:h-96">
						<!-- Item 1 -->
						<div class="hidden duration-700 ease-in-out" data-carousel-item>
							<img src="{{ asset('assets/images/carousel/carousel-1.webp') }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Image du maison" loading="lazy">
						</div>
						<!-- Item 2 -->
						<div class="hidden duration-700 ease-in-out" data-carousel-item>
							<img src="{{ asset('assets/images/carousel/carousel-2.webp') }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="image d'une maison moderne" loading="lazy">
						</div>
						<!-- Item 3 -->
						<div class="hidden duration-700 ease-in-out" data-carousel-item>
							<img src="{{ asset('assets/images/carousel/carousel-3.webp') }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Image d'un chalet avec une piscine" loading="lazy">
						</div>
						<!-- Item 4 -->
						<div class="hidden duration-700 ease-in-out" data-carousel-item>
							<img src="{{ asset('assets/images/carousel/carousel-4.webp') }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Image d'une villa avec une piscine" loading="lazy">
						</div>
						<!-- Item 5 -->
						<div class="hidden duration-700 ease-in-out" data-carousel-item>
							<img src="{{ asset('assets/images/carousel/carousel-5.webp') }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Image d'une terrasse avec un jardin" loading="lazy">
						</div>
					</div>
					<!-- Slider indicators -->
					<div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
						<button type="button" class="w-4 h-4 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
						<button type="button" class="w-4 h-4 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
						<button type="button" class="w-4 h-4 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
						<button type="button" class="w-4 h-4 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
						<button type="button" class="w-4 h-4 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
					</div>
					<!-- Slider controls -->
					<button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
						<span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white  group-focus:outline-none">
							<svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 6 10">
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
							</svg>
							<span class="sr-only">Retour</span>
						</span>
					</button>
					<button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
						<span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
							<svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 6 10">
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
							</svg>
							<span class="sr-only">Suivant</span>
						</span>
					</button>
				</div>
				<div>
					<a type="button" class="mt-8 rounded border bg-beige_chaud p-4 uppercase hover:bg-gris_ardoise " href="{{ path('app_portfolio') }}" title="Consulter les projets réalisés par notre entreprise">
						Voir nos autres réalisations
					</a>
				</div>
			</div>
		</article>
		{# fin Réalisation #}

		{# choix #}
		<article class="py-8 text-center bg-beige_chaud_clair">
			<div class="max-w-screen-2xl m-auto">
				<h2 class="mb-8">Pourquoi Choisir Maçonnerie ProBuild ?</h2>
				<ul>
					<li>
						Expérience solide en maçonnerie
					</li>
					<li>
						Équipe hautement qualifiée
					</li>
					<li>
						Qualité et durabilité garanties
					</li>
					<li>
						Approche personnelle à chaque projet
					</li>
				</ul>
				<a type="button" class="mt-8 rounded border bg-beige_chaud p-4 uppercase hover:bg-gris_ardoise " href="{{ path('app_about') }}" title="En savoir plus sur notre entreprise">
					Découvrez ce qui nous distingue
				</a>
			</div>
		</article>
		{# fin choix #}

		{# témoignage #}
		<article class="py-8 text-center">
			<div class="max-w-screen-2xl m-auto">
				<h2 class="mb-8">Ce que nos clients disent</h2>
				<div class="px-2 flex flex-col gap-8 md:flex-row md:flex-wrap">
					<aside class="border rounded-2xl p-4 shadow-lg md:w-[calc((100%/2)-32px)] lg:w-[calc((100%/4)-32px)]">
						<div class="flex items-center mb-4 space-x-4">
							<div class="space-y-1 font-medium">
								<p>John D
								</p>
							</div>
						</div>
						<div class="flex items-center mb-1">
							<svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 22 20">
								<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
							</svg>
							<svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 22 20">
								<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
							</svg>
							<svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 22 20">
								<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
							</svg>
							<svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 22 20">
								<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
							</svg>
							<svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 22 20">
								<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
							</svg>
							<h3 class="ml-2 text-sm font-semibold text-gray-900">Impressionnant !</h3>
						</div>
						<p class="mb-2 text-gray-500">
							Maçonnerie ProBuild a dépassé toutes nos attentes. Leur équipe professionnelle a travaillé avec diligence pour créer une magnifique terrasse en pierre qui est désormais le point central de nos réunions familiales. Nous ne pourrions pas être plus satisfaits.
						</p>
					</aside>

					<aside class="border rounded-2xl p-4 shadow-lg md:w-[calc((100%/2)-32px)] lg:w-[calc((100%/4)-32px)]">
						<div class="flex items-center mb-4 space-x-4">
							<div class="space-y-1 font-medium">
								<p>Anna M.
								</p>
							</div>
						</div>
						<div class="flex items-center mb-1">
							<svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 22 20">
								<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
							</svg>
							<svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 22 20">
								<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
							</svg>
							<svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 22 20">
								<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
							</svg>
							<svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 22 20">
								<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
							</svg>
							<svg class="w-4 h-4 text-gray-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 22 20">
								<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
							</svg>
							<h3 class="ml-2 text-sm font-semibold text-gray-900 ">Exceptionnel !</h3>
						</div>
						<p class="mb-2 text-gray-500 ">
							Des maçons experts et un service impeccable. Maçonnerie ProBuild a transformé notre espace extérieur en une véritable œuvre d'art. Leur attention aux détails est remarquable et chaque pierre a été posée avec soin.
						</p>
					</aside>

					<aside class="border rounded-2xl p-4 shadow-lg md:w-[calc((100%/2)-32px)] lg:w-[calc((100%/4)-32px)]">
						<div class="flex items-center mb-4 space-x-4">
							<div class="space-y-1 font-medium">
								<p>David R.
								</p>
							</div>
						</div>
						<div class="flex items-center mb-1">
							<svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 22 20">
								<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
							</svg>
							<svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 22 20">
								<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
							</svg>
							<svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 22 20">
								<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
							</svg>
							<svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 22 20">
								<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
							</svg>
							<svg class="w-4 h-4 text-gray-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 22 20">
								<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
							</svg>
							<h3 class="ml-2 text-sm font-semibold text-gray-900">Remarquable !</h3>
						</div>
						<p class="mb-2 text-gray-500">
							J'ai choisi Maçonnerie ProBuild pour rénover notre cheminée et c'était la meilleure décision que j'ai prise. Leur équipe a travaillé rapidement et avec une précision incroyable. La cheminée est non seulement fonctionnelle, mais elle ajoute également une touche d'élégance à notre maison.
						</p>
					</aside>

					<aside class="border rounded-2xl p-4 shadow-lg md:w-[calc((100%/2)-32px)] lg:w-[calc((100%/4)-32px)]">
						<div class="flex items-center mb-4 space-x-4">
							<div class="space-y-1 font-medium">
								<p>
									Sarah W.
								</p>
							</div>
						</div>
						<div class="flex items-center mb-1">
							<svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 22 20">
								<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
							</svg>
							<svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 22 20">
								<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
							</svg>
							<svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 22 20">
								<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
							</svg>
							<svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 22 20">
								<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
							</svg>
							<svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 22 20">
								<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
							</svg>
							<h3 class="ml-2 text-sm font-semibold text-gray-900">Excellente expérience !</h3>
						</div>
						<p class="mb-2 text-gray-500">
							Des professionnels compétents et passionnés par leur métier. Maçonnerie ProBuild a construit un mur en pierres qui a résisté à l'épreuve du temps. Je suis extrêmement satisfait de leur travail et je les recommande vivement à tous ceux qui recherchent des maçons de confiance.
						</p>
					</aside>
				</div>
			</div>
		</article>
		{# fin témoignage #}

		{# contact #}
		<article class="py-8 text-center bg-beige_chaud_clair">
			<div class="max-w-screen-2xl m-auto">
				<h2>Contactez-nous</h2>
				<h3 class="my-8 w-[85%] m-auto">Des questions ? Besoin d'un devis ? Contactez-nous dès aujourd'hui pour discuter de vos projets de maçonnerie.</h3>
				<a type="button" class="mt-8 rounded border bg-beige_chaud p-4 uppercase hover:bg-gris_ardoise " href="{{ path('app_contact') }}" title="Contacter notre entreprise">Contact</a>
			</div>
		</article>
		{# fin contact #}
	</section>
{% endblock %}
