{% extends 'admin/adminBase.html.twig' %}

{% block title %}Liste des catégories
{% endblock %}

{% block body %}
	<h1 class="text-center">Liste des catégories</h1>
	<div class="flex justify-end py-4">
		<a class="p-2 bg-green-500 text-white rounded-2xl shadow-xl hover:bg-green-800" type='button' href="{{ path('admin_categories_new') }}">Créer une nouvelle catégorie</a>
	</div>

	<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
		<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
			<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
				<tr>
					<th scope="col" class="px-6 py-3">
						Identifiant
					</th>
					<th scope="col" class="px-6 py-3">
						Nom
					</th>
					<th scope="col" class="px-6 py-3">
						Action
					</th>
				</tr>
			</thead>
			<tbody>
				{% for category in categories %}

					<tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
						<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
							{{ category.id }}
						</th>
						<td class="px-6 py-4">
							{{ category.name }}
						</td>
						<td class="px-6 py-4">
							<a type='button' class="p-2 bg-blue-500 text-white rounded-2xl hover:bg-blue-800" href="{{ path('admin_categories_show', {'id': category.id}) }}">Voir</a>
							<a type='button' class="p-2 bg-orange-500 text-white rounded-2xl hover:bg-orange-800" href="{{ path('admin_categories_edit', {'id': category.id}) }}">Modifier</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">Il n'y a pas de catégorie</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
