{% extends 'admin/adminBase.html.twig' %}

{% block title %}Configuration des options
{% endblock %}

{% block body %}
	<section>
		<article>
			<h1 class="text-center">Configuration des options</h1>
			<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
				<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
					<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
						<tr>
							<th scope="col" class="px-6 py-3">
								Nom
							</th>
							<th scope="col" class="px-6 py-3">
								Activer
							</th>
						</tr>
					</thead>
					<tbody>
						{% for option in options %}
							<tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
								<td class="px-6 py-4">
									{{ option.name }}
								</td>
								<td class="px-6 py-4">
									{{ form_start(forms[option.id]) }}
									{{ form_widget(forms[option.id].isActive, { 'attr': { 'class': 'toggle-checkbox' } }) }}
									{{ form_end(forms[option.id]) }}
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="3">Il n'y a pas de option</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</article>
	</section>
{% endblock %}
{% block javascripts_end %}
    <script src="{{ asset('assets/js/toggleCheckBoxe.js')}}" defer></script>
{% endblock %}
