{% extends 'admin/adminBase.html.twig' %}

{% block title %}Gestion des contacts
{% endblock %}

{% block body %}
	<h1 class="text-center p-4">Gestion des contacts</h1>
	{% if contacts %}
		<div class="relative p-4 overflow-x-auto shadow-md sm:rounded-lg">
			<table class="w-full text-sm text-left text-gray-500 ">
				<thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
					<tr>
						<th scope="col" class="px-6 py-3">
							identifiant
						</th>
						<th scope="col" class="px-6 py-3">
							Nom
						</th>
						<th scope="col" class="px-6 py-3">
							Numéro de téléphone
						</th>
						<th scope="col" class="px-6 py-3">
							date
						</th>
						<th scope="col" class="px-6 py-3">
							email
						</th>
						<th scope="col" class="px-6 py-3">
							objet
						</th>
						<th scope="col" class="px-6 py-3">
							Actions
						</th>
					</tr>
				</thead>
				<tbody>
					{% for contact in contacts %}

						<tr class="bg-white border-b max-h-8">
							<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
								{{ contact.id }}
							</th>
							<td class="px-6 py-4">
								{{ contact.fullName }}
							</td>
							<td class="px-6 py-4">
								{{ contact.phoneNumber }}
							</td>
							<td class="px-6 py-4">
								{{ contact.createdAt }}
							</td>
							<td class="px-6 py-4">
								{{ contact.email }}
							</td>
							<td class="px-6 py-4 ">
								{{ contact.subject }}
							</td>
							<td class="px-6 py-4 ">
								<a href="{{ path('admin_contact_view', {id: contact.id}) }}"  class="p-2 bg-blue-500 text-white rounded-2xl hover:bg-blue-800">Voir</a>

								<a href="{{ path('admin_contact_delete', {id: contact.id}) }}" class="font-medium text-red-500  hover:underline">Supprimer</a>
							</td>
						</tr>

					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
{% endblock %}
